<h1>Scraper!</h1>

<a href="/scrape" class="btn btn-primary btn-lg">Scrape!</a>

<hr>

{{#each articles}}
  <div class="pb-3">
    <h2 class="h4">{{title}}</h2>
    <a href="{{url}}">{{url}}</a>
    <h3 class="h6 pt-2">Article Comments</h3>
    {{#each comments}}
      <p>{{text}}</p>
    {{/each}}
    <form action="/articles/{{_id}}/comments" method="POST">
      <div class="form-group">
        <textarea name="text" class="form-control" rows="3"></textarea>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
{{/each}}